<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
  <title>Document</title>
</head>

<body>
  <main>
    <form action="/login" method="POST">
      <div class="back">
        <h1>login</h1>
      </div>
      <div class="back">
        <label for="">Username</label>
        <input class="stream" type="text" class="username" name="username">
        <label for="">Password</label>
        <input class="stream" type="password" class="password" name="password">
      </div>
      <div class="erreur">{{erreur}}</div>
      <div class="back">
        <button class="button">Submit</button>
      </div>
      <div class="back">
        <a href="/adduser" class="button">
          add User
        </a>
      </div>
    </form>
  </main>
</body>

</html>